.text {
    color: whitesmoke;
    margin-left: 4vw;
    position:absolute;
    text-shadow: 3px 3px rgb(0, 0, 255);
}

.title {
    font-size: 10vh;
}

.description {
    font-size: 4vh;
}

.menu {
    position: absolute;
    margin-top: 5vh;
    margin-left: 75vw;
}
